 body{
    background: rgb(36, 41, 85);
    padding: 0;
    margin: 0;
}

.menu{
    width: 200px;
    background: rgb(79, 111, 201);
    float: left;
    margin: 10px auto;
    border-bottom: 1px solid gray;
    box-shadow: 0 -4px 3px 1px rgb(48, 28, 28);
    height: 600px;
}

.header{
    padding: 20px 10px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    font-family: "Lobster", serif;
    background: rgb(114, 64, 148);
    margin-bottom: 7px;
    box-shadow: 0 2px 4px 2px rgb(48, 28, 28);
}

.content{
    float: left;
    width: calc(75% );
    padding: 10px;
	color: azure;
}

.footer{
    clear: both;
    padding: 10px;
    font-size:  small;
    text-align: right;
    color: gray;
    border-top: 1px solid gray;
    box-shadow: 0 -4px 3px 1px rgb(48, 28, 28);
}

.menu-header{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.menu-item{
    font-style: normal;
    box-shadow: 5px 3px 4px 2px gray;
    font-family: "Lobster", serif;
    text-align: center;
    background: white;
    margin: 10px;
    padding: 5px;
}